div {
	position: relative;
	display: flex;
	justify-content: center;
}

h1 {
	font-family: Cursive;
	font-size: 3rem;
	margin: 0;
}
p {
	position: relative;
	display: flex;
	justify-content: center;
	width: 40%;
	min-width: 550px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
}

#boggle {
	position: relative;
	display: flex;
	justify-content: center;
}

#boggle-div {
	position: relative;
	display: flex;
	justify-content: center;
	height: 400px;
	width: 400px;
	padding-top: 1rem;
}

#board {
	width: 100%;
	justify-content: center;
	align-content: center;
	vertical-align: middle;
	margin-top: 7px;
}

td {
	width: 70px;
	height: 70px;
	justify-content: center;
	border: solid 1px #666;
	text-align: center;
	font-size: 30px;
	font-family: Cursive;
}

tr {
	background-color: lightcyan;
	justify-content: center;
}
